.header {
    background-color: black;
    text-align: center;
}


.container {
    background-color: black;
    margin: 0;
    padding:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 150%;
}

.headerText {
    color: white;
}

.name {
    margin-left: 50px;
}

.pic {
  margin-left: 50px;
  float: left;
}

.bio {
  margin-left: 100px;
  text-align: center;
}

.contact {
    float: right;
}

.box {
    float: left;
  width: 33.33%; /* three boxes (use 25% for four, and 50% for two, etc) */
  padding: 50px;
}
